// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
	width: 100%;
}
#instruction {
	margin-top: 20px;
}
#copy_right{
	text-align: center;
	margin-top: 50px;
}
