// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.story_actions {
  float: right;
}
.story_timestamp .updated_at {
  text-align: right;
}
.story_timestamp a {
  color: grey;
  font-size: 11px;
}
.story_timestamp a:hover {
  cursor: pointer;
  background-color: inherit;
  color: inherit;
}
.story_timestamp a:focus {
  outline-style: none;
}
